<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="farukkaradenizConnectionString" connectionString="Data Source=_REMOTEIP;Initial Catalog=_DB;Persist Security Info=True;User ID=_USERNAME;Password=_PASSWORD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
    <system.web>
      <customErrors mode="Off"/>
    <compilation debug="true"/>
      <webServices>
        <protocols>
          <add name="HttpPost" />
          <add name="HttpGet" />
        </protocols>
      </webServices>
    </system.web>

</configuration>
